.app-header {
  display: flex;
  background-color: #263238;
  height: 36px;
  padding: 8px 32px 8px 16px;
  color: #fff;
  font-size: 18px;
  padding: 20px 0px 0px 0px;
  height: 50px;
}

.search-box {
  position: absolute;
  right: 5em;
  width: 300px;
  background-color: #c0c0c0;
  border-radius: 4px;
  margin-top: auto;
  margin-bottom: auto;
}

.poster {
  height: 100%;
  width: auto;
  padding: 10px;
}
.flex-container {
  display: flex;
  padding: auto;
}

.flex-container > div {
  margin: 16px;
}
@media (max-width: 992px) {
  .flex-container {
    flex-direction: column;
  }
}


